
/* Collection parent (page /game/?id=...) */
.collection-block {
  border: 1px solid rgba(255,255,255,.25);
  padding: 12px;
  border-radius: 8px;
  margin: 16px 0;
  background: rgba(0,0,0,.15);
}
.collection-block h3 {
  margin-top: 0;
}

/* Collection child (page /game/?id=...&uid=...) */
.collection-child-block {
  border: 1px solid rgba(255,255,255,.25);
  padding: 12px;
  border-radius: 8px;
  margin: 16px 0;
  background: rgba(0,0,0,.15);
}
.collection-child-block h3 {
  margin-top: 0;
}

/* Serie block */
.serie-block {
  border: 1px solid rgba(255,255,255,.25);
  padding: 12px;
  border-radius: 8px;
  margin: 16px 0;
  background: rgba(0,0,0,.15);
}
.serie-block h3 {
  margin-top: 0;
}
